In [11]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [12]:
df = pd.read_csv('data/data_cleaned.csv')

In [13]:
df.head()

,Product ID,Height (cm),Width (cm),Depth (cm),Avg Daily Demand,Product Category
0,P20106,35.436002,22.622569,33.657885,49.123508,Electronics
1,P41070,28.556396,24.461528,44.912779,16.094638,Electronics
2,P29033,28.387143,16.138052,18.433578,17.235752,Food
3,P47714,23.283766,24.277033,26.857256,6.472163,Clothing
4,P14692,9.607678,23.973594,37.116032,15.737616,Food

In [14]:
numerical_features = ['Height (cm)', 'Width (cm)', 'Depth (cm)', 'Avg Daily Demand']
X = df[numerical_features]

In [15]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [16]:
df_scaled = df.copy()
df_scaled[numerical_features] = X_scaled

In [17]:
df_scaled.head()

,Product ID,Height (cm),Width (cm),Depth (cm),Avg Daily Demand,Product Category
0,P20106,0.504858,0.440043,0.621134,0.260515,Electronics
1,P41070,0.406844,0.475814,0.828835,0.085344,Electronics
2,P29033,0.404432,0.313909,0.340179,0.091396,Food
3,P47714,0.331724,0.472225,0.495633,0.034310,Clothing
4,P14692,0.136881,0.466322,0.684951,0.083450,Food

**Label Encoding**

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()


df_scaled['Product_Label'] = le.fit_transform(df_scaled['Product Category'])

In [19]:
df_scaled.head()

,Product ID,Height (cm),Width (cm),Depth (cm),Avg Daily Demand,Product Category,Product_Label
0,P20106,0.504858,0.440043,0.621134,0.260515,Electronics,1
1,P41070,0.406844,0.475814,0.828835,0.085344,Electronics,1
2,P29033,0.404432,0.313909,0.340179,0.091396,Food,2
3,P47714,0.331724,0.472225,0.495633,0.034310,Clothing,0
4,P14692,0.136881,0.466322,0.684951,0.083450,Food,2

In [20]:
df_scaled.to_csv('data/feature_scaled.csv', index=False)